body {
    background-image: url("https://lh3.googleusercontent.com/lkNElgsiB7wLMNw_bmPs_i_67WPWdFG5s1ZZCKIPIx1sFschz0zXX14sZIpJE9NWlIQZ5dbmYBxBXfxszXxH9lNRecYrj1z6vsP32lxxXu8mSbgAZArtemu9bRchRxg3kkVGJGKN=w275-h183-p-k");
    background-color: blanchedalmond;
    background-size: 1000px;
}

.left{
    float: left;
    height:fit-content;
    width: 300px;
    background-color: rgb(138, 72, 28);
    border-radius: 5px;
}

.inner-left{
    margin: 5px;
    height: fit-content;
    width: 290px;
    background-color: rgb(122, 91, 49);
    border-color: black;
    border-radius: 5px;
}

.right{
    float:right;
    width: 300px;
    height: fit-content;
    background-color: rgb(138, 72, 28);
    border-radius: 5px;
}

.inner-right{
    margin: 5px;
    height: fit-content;
    width: 290px;
    background-color: rgb(122, 91, 49);
    border-color: black;
    border-radius: 5px;
}
.center {
    float: left;
    height: auto;
    width: 750px;
    background-color: rgb(121, 72, 43);
    border-radius: 5px;
    padding-bottom: 20px;
}


#results {
    height: 150px;
    width: 440px;
    background-color: rgb(117, 108, 96);
    border-color: black;
    border-radius: 5px;
}

.favorite {
    margin: 5px;
    height: fit-content;
    background-color: rgb(122, 91, 49);
    border-color: black;
    border-radius: 5px;
}


.result-card {
    height: 100px;
    width: 725px;
    background-color: rgb(118, 133, 113);
    border-color: black;
    border-radius: 5px;
    display: block;
    margin-top: 15px;
    font-family: "Times New Roman", Times, serif;
    position: top;
    padding-bottom: 10px;
}

#a{
    font-size: x-large;
    display:block;
}

#b{
    font-size: medium;
    display: block;
}

#c{
    font-size: medium;
    display: block;
}

#d{
    font-size: medium;
    display: block;
}

#e{
    font-size: medium;
    display: block;
}
.buttons{
    border-radius: 25px;
    background-color: rgb(101, 129, 49);
}


.hit-list{
    margin: 5px;
    height: 150px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    border-color: black;
    border-radius: 5px;
}
